.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
  }
}

#dynamicCompartment {
  position: relative;
  height: 429.6px;
  margin: 25px 0 25px 0;
  padding: 0;
}

.elevator {
  position: relative;
  margin: 0 8px;
  width: 90px;
  height: 429.6px;
  top: 0px;
  text-align: center;
  font-size: 24pt;
}

.compartment {
  bottom: 0px;
  background-color: #71797E;
  border:5px solid #333;
  border-bottom:none;
  position:absolute;
  height: 85px;
  font-size: 12pt;
  color: #ffffff;
  font-weight: 500;
  overflow: hidden;    
  width: 80%;
}
.compartment:hover { 
  background-color: #0b0c0c;
}


.compartment > div {
  position: relative;
  top: -340px;
}

.compartment > div > div {
  position: relative;
  height: 85px;
}

#upDownButtons {
  position: relative;
  height: 366px;
  padding: 0;
  margin: 0;
}

.floor-buttons {
  height: 85px;
  border:2px solid #333;
  border-bottom:none;
  border-left: none;
  border-right: none;
  
   
}

.span-floor {
margin-left: 50px;
color: white;
}

.button {
  border: none;
  height: 50px;
  width: 50px;
  background-color: rgb(106, 153, 211);
  cursor: pointer;
  margin-right: 10px;
}

.button:hover {
  background-color: #f8482e;
}



.button > .upSide {
color: white;
font-size: 12px;
}

.button > .downSide {
  color: white;
  font-size: 10px;;
}



#floor-buttons-1 button.button.downSide {
display: none;
}

#floor-buttons-5 button.button.upSide {
display: none;
}

.floor-number-container {
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 20px;
  margin-left: 20px;
}

.floor-number-label {
color: rgb(23, 19, 19);
margin: 20px;
}

.cursor-pointer {
cursor: pointer;
}

.color-white {
color: white;
}

.maintenance-mode-container {
margin: 10px 0;
}

.maintenance-mode-item {
margin: 0 17px;
}

.font-weight-500 {
font-weight: 500;
}